.App {
  text-align: center;
  background-color: #282c34;
  height: auto;
  background-image: url("https://mrwallpaper.com/images/hd/scrooge-mcduck-bed-of-treasure-9vrlsojzvdqx79xh.jpg");
  background-size: cover;
}

.App-header {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  height: 100vh;
}

.login{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > input
{
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  color: hsl(0, 18%, 97%);
  width: 200px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  background-color: transparent;
  font-size: large;
}

.login-buttons > button {
  width: 100px;
  background-color: transparent;
  color: hsl(0, 18%, 97%);
  font-size: larger;
  margin: 15px;
  padding: 10px;
  border-radius: 8px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.message-section{
  background-color: transparent;
  color: hsl(0, 18%, 97%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}